*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: 'Raleway', sans-serif;
  color: #333; }

html,
body {
  background: #f5f6fa;
  box-sizing: border-box;
  font-size: 62.5%; }

header {
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 2rem; }
  header .heading--text {
    font-size: 3rem;
    letter-spacing: 5px; }

.board {
  max-width: 51rem;
  width: 100%;
  margin: auto;
  border-radius: .8rem; }
  .board__options {
    background: #F79F1F;
    padding: 2rem;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem; }
    .board__options::after {
      content: "";
      display: block;
      clear: both; }
  .board__display {
    min-height: 35rem;
    background: #FFC312;
    padding: 3rem 2rem 1rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    position: relative; }
    .board__display::after {
      content: "by Thaison";
      display: block;
      position: absolute;
      bottom: -4rem;
      text-align: center;
      left: 0;
      right: 0;
      font-size: 1.5rem; }

.switch-button {
  display: inline-block;
  position: relative;
  height: 3.5rem;
  width: 6.5rem;
  background: #f5f6fa;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  margin-left: 6rem;
  margin-right: 10rem;
  cursor: pointer;
  float: left; }
  .switch-button::before, .switch-button::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    color: #f5f6fa; }
  .switch-button::before {
    content: "HUMAN";
    left: -1rem;
    transform: translateX(-100%); }
  .switch-button::after {
    content: "ANIMALS";
    right: -1rem;
    transform: translateX(100%); }
  .switch-button--checkbox {
    display: none; }
  .switch-button--slider {
    position: absolute;
    display: block;
    top: .4rem;
    left: .4rem;
    bottom: .4rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background: #F79F1F;
    transition: all .4s; }
  .switch-button--checkbox:checked ~ .switch-button--slider {
    left: 3.4rem; }

.quantity-input {
  float: left;
  position: relative;
  margin-left: 3rem; }
  .quantity-input #plus,
  .quantity-input #minus {
    border: none;
    display: block;
    position: absolute;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.9rem;
    background-color: #FFC312;
    color: #f5f6fa;
    top: 0;
    bottom: 0;
    left: -2rem; }
  .quantity-input #minus {
    width: 2rem;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem; }
  .quantity-input #plus {
    left: unset;
    right: -2rem;
    width: 2rem;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem; }
  .quantity-input .input--quantity {
    transition: .4s;
    border: 1px solid #FFC312;
    justify-content: stretch;
    padding: 0;
    height: 3.5rem;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    color: #f5f6fa; }
    .quantity-input .input--quantity::-webkit-inner-spin-button, .quantity-input .input--quantity::-webkit-outer-spin-button {
      -webkit-appearance: none; }
    .quantity-input .input--quantity:in-range {
      background: #F79F1F; }

.generate-button {
  height: 3.5rem;
  border-radius: .5rem;
  padding: .5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  background: #f5f6fa;
  color: #F79F1F;
  position: relative;
  float: right;
  border: none;
  transition: all .2s; }
  .generate-button:hover {
    transform: scale(1.03) translateY(-3px); }
  .generate-button:active {
    transform: translateY(0px); }

.quote {
  padding: 1rem;
  background: #f5f6fa;
  margin-bottom: 2rem;
  font-size: 1.8rem; }
