$optionBackground: #f79f1f;
$displayBackground: #ffc312;

$color-dark: #333;
$color-white: #f5f6fa;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  font-family: "Raleway", sans-serif;
  color: $color-dark;
}

html,
body {
  background: $color-white;
  box-sizing: border-box;
  font-size: 62.5%;
}

header {
  text-align: center;
  margin-top: 14rem;
  margin-bottom: 2rem;

  .heading--text {
    font-size: 3rem;
    letter-spacing: 5px;
  }
}

.board {
  max-width: 51rem;
  width: 100%;
  margin: auto;
  border-radius: 0.8rem;
  &__options {
    background: $optionBackground;
    padding: 2rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }

  &__display {
    min-height: 35rem;
    background: $displayBackground;
    padding: 3rem 2rem 1rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    position: relative;
    &::after {
      content: "by Thaison";
      display: block;
      position: absolute;
      bottom: -4rem;
      text-align: center;
      left: 0;
      right: 0;
      font-size: 1.5rem;
    }
  }
}

.switch-button {
  display: inline-block;
  position: relative;
  height: 3.5rem;
  width: 6.5rem;
  background: $color-white;
  border-top-left-radius: 1.8rem;
  border-bottom-left-radius: 1.8rem;
  border-top-right-radius: 1.8rem;
  border-bottom-right-radius: 1.8rem;
  margin-left: 6rem;
  margin-right: 10rem;
  cursor: pointer;
  float: left;

  &::before,
  &::after {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    font-size: 1.5rem;
    line-height: 3.5rem;
    font-weight: 200;
    color: $color-white;
  }

  &::before {
    content: "HUMAN";
    left: -1rem;
    transform: translateX(-100%);
  }

  &::after {
    content: "ANIMALS";
    right: -1rem;
    transform: translateX(100%);
  }

  &--checkbox {
    display: none;
  }

  &--slider {
    position: absolute;
    display: block;
    top: 0.4rem;
    left: 0.4rem;
    bottom: 0.4rem;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%;
    background: $optionBackground;
    transition: all 0.4s;
  }

  &--checkbox:checked ~ &--slider {
    left: 3.4rem;
  }
}

.quantity-input {
  float: left;
  position: relative;
  margin-left: 3rem;
  #plus,
  #minus {
    border: none;
    display: block;
    position: absolute;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.9rem;
    background-color: $displayBackground;
    color: $color-white;
    top: 0;
    bottom: 0;
    left: -2rem;
  }
  #minus {
    width: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  #plus {
    left: unset;
    right: -2rem;
    width: 2rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
  .input--quantity {
    transition: 0.4s;
    border: 1px solid $displayBackground;
    justify-content: stretch;
    padding: 0;
    height: 3.5rem;
    font-size: 1.8rem;
    text-align: center;
    position: relative;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    color: $color-white;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }

    &:in-range {
      background: $optionBackground;
    }
  }
}

.generate-button {
  height: 3.5rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  background: $color-white;
  color: $optionBackground;
  position: relative;
  float: right;
  border: none;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.03) translateY(-3px);
  }

  &:active {
    transform: translateY(0px);
  }
}

.quote {
  padding: 1rem;
  background: $color-white;
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
